extends ../layout

block content
	.ui-layout
		.ui-slider(id="lszhSlider")
			ul.ui-slider-scroll
				each val, i in ['../images/banner_01.jpg','../images/banner_02.jpg','../images/banner_03.jpg']
					li
						img(src="#{val}", width="100%", height="100%")
	.ui-layout
		ul.ui-hot-list
			each item in movies
				li
					a(href="/movie/#{item._id}")
							img(src="#{item.poster}", alt="#{item.title}")
							p.ui-title #{item.title}
					p.ui-score-result(class="ui-score-#{item.score}")
						span.ui-score-txt #{item.score}
	script(type='text/javascript').
		new LszhSlider( $("#lszhSlider") );